.cases-true {
    background-color: #FFEEAA !important;
}
.deaths-true {
    background-color: rgba(255, 0, 0, 0.747) !important;
    color: white;
}
.recovered-true {
    background-color: #c8e6c9 !important;
}
td,tr {
    font-weight: 700;
    text-align: center;
}
thead {
    background-color: gray;
}