.display-false {
    display: none;
}
td,tr {
    font-weight: 700;
    text-align: center;
}
tbody {
    overflow: hidden;
}
.table-rs, .table-responsive {
    border-bottom: 2px solid gray !important;
}
.table {
    margin-bottom: 0;
}