.footer-container {
    background-color: #212529;
    width:100%;
    padding-top:15px;
    padding-bottom:15px;
    }
.credit {
    margin: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}